{% extends "base.html" %}
{% block content %}
<h3>{{ loginJSON.name }}</h3>
{% if loginJSON.status == 0 %}
<h1>deeID Secure Form (FormL3SS)</h1>
If your browser is compromised or the website has a compromised JS library then this method of sending data to the server will benefit you.
<hr />
Pay securely through deeID. Scan the QR code below to send submit card details for payment.

<center>
    <div id="message">Scan the QR code using your deeID Mobile App</div>
    <br />
    <canvas id="qr"></canvas>
    <div id="loader"></div>
</center>
</div>
</div>

<script type="text/javascript" src="/static/js/qrious.min.js"></script>
<script>
// Get the JSON msg from backend
var d  = {{outMsg|tojson}};
d = JSON.parse(d);
// Get d.ws_url
var ws = new WebSocket('ws://bcb596f1.ngrok.io')
// Count the number of messages received from websocket server
msg = 0
ws.onmessage = function(event) {
    msg +=1;

    let dataJSON = JSON.parse(event.data);

    // Create the QR Code on screen
    if (dataJSON['type'] == "uID") {
        d.uID = dataJSON['uID'];
        document.getElementById('qr').innerHTML = '';
        var qr = new QRious({
            element: document.getElementById('qr'),
            size: 300,
            value: JSON.stringify(d)
        });
    }
}
</script>

{% endif %}
{% endblock %}